.hero-carousel {
  height: 60%;
}

.carousel-indicators > li {
  background-color: transparent;
  border: 2px white solid;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}

.carousel-item > .d-block {
  height: 100vh;
}

.carousel-item > img {
  filter: brightness(50%);
}

.carousel-item > .carousel-caption {
  bottom: 20%;
  left: 5%;
  right: 5%;
}

