.jumbotron-hero {
  background-color: transparent;
}

.jumbotron-hero > h1 {
  font-family: Helvetica, Arial;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 0.4rem;
}

.jumbotron-hero > p {
  font-family: Helvetica, sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  width: 70%;
  margin: 1rem auto;
}

.gradient-button {
  border-radius: 5rem;
  border: none;
  width: 9rem;
  height: 3rem;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.gradient-button:hover {
  background: white;
}

.gradient-button::before {
  content: "";
  background: transparent;
  box-shadow: 4em 0em 2em 1em rgba(255, 179, 63, 1),
    0 1em 2em 3em rgba(94, 51, 209, 1), 4em 0em 4em 6em rgba(211, 72, 72, 1),
    -4em 2em 2em 4em rgba(31, 225, 233, 1);
  animation: mix 5s linear infinite;
  animation-direction: alternate;
}

@keyframes mix {
  30% {
    box-shadow: 2em 1em 2em 2em rgba(31, 225, 233, 1),
      0 -1em 2em 3em rgba(255, 179, 63, 1),
      4em -1em 2em 3em rgba(94, 51, 209, 1),
      -4em -2em 2em 2em rgba(211, 72, 72, 1);
  }

  60% {
    box-shadow: 3em 1em 2em 3em rgba(255, 179, 63, 1),
      3em -2em 3em 3em rgba(94, 51, 209, 1),
      0 -3em 2em 3em rgba(31, 225, 233, 1) -4em 2em 2em 3em rgba(211, 72, 72, 1);
  }
}

